#view{
    display: none;
}
#dis{
    display: none;
}
#tal{
    display: none;
}
#dontshow
{
    display: none;
}
#changepassword{
    display: none;
}
#pass{
    display: none;
}
#rf{
    display: none;
}
#fp{
    display: none;
}